{% extends 'layout.html.j2' %}

{% block title %}Products {{super()}} {% endblock %}

{% block extras %}
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.src.js"></script>
  <script src="https://code.highcharts.com/modules/stock.src.js"></script>
{% endblock %}

<!--display header bar-->
{% block content %}
  <!--in three column format-->
  <div class="row">
    <!--1st column: display relevant news-->
    <div class="col-md-3">
      <!--    display forms-->
      <div class="row well">
        <h3>Settings</h3>
        <form id="candles-form" action="{{ url_for('products.charts') }}" method="POST">
          {{ form.csrf_token }}

          <div class="form-group col-md-12 {% if form.instrument.errors %}has-error{% endif %}">
            <label class="form-control-label" for="{{ form.instrument.name }}">{{ form.instrument.label }}</label>
            {{ form.instrument(class="form-control") }}
            <div class="help-block">
              {% for error in form.instrument.errors %}{{ error }}{% endfor %}
            </div>
          </div>

          <div class="form-group col-md-12 {% if form.resolution.errors %}has-error{% endif %}">
            <label class="form-control-label" for="{{ form.resolution.name }}">{{ form.resolution.label }}</label>
            {{ form.resolution(class="form-control") }}
            <div class="help-block">
              {% for error in form.resolution.errors %}{{ error }}{% endfor %}
            </div>
          </div>

          <div class="form-group col-md-12 {% if form.datetime_range.errors %}has-error{% endif %}">
            <label class="form-control-label" for="{{ form.datetime_range.name }}">{{ form.datetime_range.label }}</label>
            {{ form.datetime_range(class="form-control") }}
            <div class="help-block">
              {% for error in form.datetime_range.errors %}{{ error }}{% endfor %}
            </div>
          </div>

          <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="reset" class="btn btn-default">Reset</button>
          </div>
        </form>
      </div>
    </div>
    <!--2nd column: display live candlesticks-->
    <div class="col-md-6">
      <!--    display candles-->
      <div class="row">
        <div id="candles"></div>
      </div>
    </div>
    <!--3rd column: display streaming prices for selected instruments-->
    <div class="col-md-3">
      <!--    display forms-->
      <!--    display heatmap, correlation & volatility charts-->
      <div class="row">
        <div id="correlations"></div>
      </div>
      <div class="row">
        <div id="volatility"></div>
      </div>
      <div class="row">
        <div id="heatmap"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}{{super()}}{% endblock %}

{% block js %}
  <script src="{{url_for('static', filename='js/products/candles.js')}}"></script>
  <script src="{{url_for('static', filename='js/products/correlations.js')}}"></script>
  <script src="{{url_for('static', filename='js/products/volatility.js')}}"></script>
  <script>
    $(document).ready(function() {

      $('.input-daterange input').each(function() {
        $(this).datepicker({
          format: "dd/mm/yyyy",
          todayBtn: "linked",
          clearBtn: true,
          todayHighlight: true
        });
      });

      RenderCandlesticks(
        name={{ candles.name|tojson|safe }},
        candles={{ candles.ohlc|tojson|safe }},
        volume={{ candles.volume|tojson|safe }}
      );
      RenderCorrelations(
        name={{ correlations.name|tojson|safe }},
        categories={{ correlations.categories|tojson|safe }},
        negativeCorrelations={{ correlations.series.negative|tojson|safe }},
        positiveCorrelations={{ correlations.series.positive|tojson|safe }}
      );
      RenderHeatmaps(
        name={{ heatmap.name|tojson|safe }},
        symbols={{ heatmap.categories|tojson|safe }},
        negativeHeat={{ heatmap.series.negative|tojson|safe }},
        positiveHeat={{ heatmap.series.positive|tojson|safe }}
      );
    });
  </script>
{% endblock %}
