{% extends 'layout.html.j2' %}

{% block title %}Products {{super()}} {% endblock %}

{% block extras %}
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.src.js"></script>
  <script src="https://code.highcharts.com/modules/stock.src.js"></script>
{% endblock %}

<!--display header bar-->
{% block content %}
  <!--in three column format-->
  <!--1st column: display relevant news-->
  <!--2nd column: display live candlesticks-->
  <!--    display forms-->
  <form id="candles-form" action="{{url_for('products.charts')}}" method="POST">
    {{ form.csrf_token }}
    {{ form.instrument.label }} {{ form.instrument }}
    {% for error in form.instrument.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.resolution.label }} {{ form.resolution }}
    {% for error in form.resolution.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.start_datetime.label }} {{ form.start_datetime }}
    {% for error in form.start_datetime.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.end_datetime.label }} {{ form.end_datetime }}
    {% for error in form.end_datetime.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <input type="submit" value="Update" />
  </form>
  <!--    display charts-->
  <div id="candles" styles="width: 70%; height: 400px;"></div>
  <!--3rd column: display streaming prices for selected instruments-->
  <!--    display forms-->
  <!--    display heatmap, correlation & volatility charts-->
  <div id="correlations" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div>
{% endblock %}

{% block footer %}{{super()}}{% endblock %}

{% block js %}
  <script src="{{url_for('static', filename='js/products/candles.js')}}"></script>
  <script src="{{url_for('static', filename='js/products/correlations.js')}}"></script>
  <script src="{{url_for('static', filename='js/products/volatility.js')}}"></script>
  <script>
    $(document).ready(function() {

      $('.input-daterange').datepicker({
        format: "dd/mm/yyyy",
        todayBtn: "linked",
        clearBtn: true,
        orientation: "bottom auto",
        todayHighlight: true
      });

      RenderCandlesticks(
        name={{candles.name|tojson|safe}},
        candles={{candles.ohlc|tojson|safe}},
        volume={{candles.volume|tojson|safe}}
      );
      // RenderCorrelations(
      //   name={{correlations.name|tojson|safe}},
      //   categories={{correlations.categories|tojson|safe}},
      //   negativeCorrelations={{correlations.series.negative|tojson|safe}},
      //   positiveCorrelations={{correlations.series.positive|tojson|safe}}
      // );
    });
  </script>
{% endblock %}
