window.onload = function() {
  // set the allowed units for data grouping
  groupingUnits = [[
    'hour',                         // unit name
    [1]                             // allowed multiples
  ],
  [
    'day',
    [1,5]
  ]],

  // create the chart
  Highcharts.stockChart('candles', {
    rangeSelector: {
      selected: 1
    },

    title: {
      text: '{{candles.get("name")}}'
    },

    yAxis: [{
      labels: {
        align: 'right',
        x: -3
      },
      title: {
        text: 'OHLC'
      },
      height: '60%',
      lineWidth: 2,
      resize: {
        enabled: true
      }
    },
    {
      labels: {
        align: 'right',
        x: -3
      },
      title: {
        text: 'Volume'
      },
      top: '65%',
      height: '35%',
      offset: 0,
      lineWidth: 2
    }],

    tooltip: {
      split: true
    },

    series: [{
      type: 'candlestick',
      name: '{{candles.get("name")}}',
      data: {{candles.get("ohlc")}},
      dataGrouping: {
        units: groupingUnits
      }
    },
    {
      type: 'column',
      name: 'Volume',
      data: {{candles.get("volume")}},
      yAxis: 1,
      dataGrouping: {
        units: groupingUnits
      }
    }]
  });
};
